.company {

}

.top_level {
  margin: 2rem 0 0 2rem;

  &> .title {
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
  }

  .year {
    display: inline-block;
    margin-left: 1rem;
  }

  .ranking {
    font-size: 2.3rem;

    :global(.indicator) svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .trend {
    float: right;
    margin: -3.5rem 10rem 3rem 0;

    p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .esg_score {
      font-size: 2rem;
      margin-bottom: 2rem;

      span {
        font-weight: bold;
      }
    }
  }
}

.breakdown {
  clear: both;
  margin-top: 4rem;
  display: flex;
}

.section {
  flex: 1;
  border-right: 2px solid #999;

  &:last-child {
    border-right: none;
  }

  .overall_ranking {
    height: 19rem;
    border-bottom: 2px dashed #ccc;

    .title {
      font-size: 1.5rem;
      margin: 0 0 2rem 2rem;
    }

    .completeness {
      font-size: 1.3rem;
      margin: 0 0 2rem 2rem;
      line-height: 1.3;

      span {
        color: #f46;
      }
    }

    .ranking {
      font-size: 1.5rem;
      padding: 0 0 3rem 2rem;

      :global(.icon) {
        position: relative;
        top: 0.75rem;
      }
    }

    .info {
      float: right;
    }
  }
}

.outcome {
  padding: 2.5rem 1rem 0 2rem;
  height: 12rem;

  .title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .ranking {
    font-size: 1.2rem;

    :global(.info) {
      margin-top: 1rem;
    }
  }

  &:nth-child(even) {
    background: #fafafa;
  }
}

.title {
  line-height: 1.3;
}

:global(.hide-aggregation) {
  .top_level {
    .esg_rating, .ranking, .trend {
      display: none;
    }
  }

  .breakdown .overall_ranking {
    height: 10rem;

    .ranking {
      display: none;
    }
  }
}
