.company {

}

.top_level {
  margin: 3rem 0 0 2rem;

  .logo {
    max-width: 15rem;
    max-height: 8rem;
  }

  &> .title {
    margin: 3rem 0 1rem 0;
    font-size: 2rem;
  }

  .year {
    display: inline-block;
    margin-left: 1rem;
  }

  .ranking {
    font-size: 2.3rem;

    :global(.indicator) svg {
      width: 2rem;
      height: 2rem;
    }
  }

  .trend {
    float: right;
    margin: -3.5rem 10rem 3rem 0;

    p {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
    }

    .esg_score {
      font-size: 2rem;
      margin-bottom: 2rem;

      span {
        color: orange;
      }
    }
  }
}

.auditor {
  float: right;
  margin-right: 2rem;

  .text {
    margin-top: 4.5rem;
  }

  .logo {
    max-width: 12rem;
    max-height: 6rem;
  }
}

.breakdown {
  clear: both;
  margin-top: 4rem;
  display: flex;
}

.section {
  flex: 1;
  border-right: 1px solid #ccc;

  .overall_ranking {
    height: 14rem;
    border-bottom: 2px dashed #ccc;

    .title {
      font-size: 1.5rem;
      margin: 0 0 2rem 2rem;
    }

    .ranking {
      font-size: 1.5rem;
      padding: 0 0 3rem 2rem;

      :global(.icon) {
        position: relative;
        top: 0.75rem;
      }
    }

    .info {
      float: right;
    }
  }
}

.outcome {
  padding: 2.5rem 1rem 0 2rem;
  height: 12rem;

  .title {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .ranking {
    font-size: 1.2rem;

    :global(.info) {
      margin-top: 1rem;
    }
  }

  &:nth-child(even) {
    background: #fafafa;
  }
}

.title {
  line-height: 1.3;
}
