.indicator {
  margin-left: 1rem;
  cursor: pointer;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}

.better {
  fill: #0b0;
  position: relative;
  top: 0.3rem;
}

.worse {
  fill: #c00;
  position: relative;
  top: 0.3rem;
}

.same {
  fill: grey;
  position: relative;
  top: 0.33rem;
}
