.line_graph {
  circle         { fill: black; }
  .line          { stroke: black; }
  .company_label { fill: black; }
}

circle[data-index="0"]         { fill: #246 }
.line[data-index="0"]          { stroke: #448AA9 }
.company_label[data-index="0"] { fill: #246 }

circle[data-index="1"]         { fill: #6D5908 }
.line[data-index="1"]          { stroke: #D3BF6E }
.company_label[data-index="1"] { fill: #6D5908 }

.line {
  fill: none;
  stroke-width: 3;
}

.dot {
  cursor: pointer;
}

.x_axis {
  font-size: 1.3rem;
  color: #333;

 :global(.tick) line, :global(.domain) {
   stroke: #ddd;
 }
}

.y_axis {
  font-size: 1rem;

 :global(.tick) line, :global(.domain) {
   stroke: #ddd;
 }
}

.y_axis_label {
  font-style: italic;
}

.thumbnail {
  .x_axis, .y_axis {
     :global(.tick) line, :global(.domain) {
       stroke: #555;
     }
  }
}
