.graph {
  circle {
    fill: #246;
  }
}

.line {
  fill: none;
  stroke: #448AA9;
  stroke-width: 3;
}

.dot {
  cursor: pointer;
}

.x_axis {
  font-size: 1.3rem;
  color: #333;

 :global(.tick) line, :global(.domain) {
   stroke: #ddd;
 }
}

.y_axis {
  font-size: 1rem;

 :global(.tick) line, :global(.domain) {
   stroke: #ddd;
 }
}

.y_axis_label {
  font-style: italic;
}

.thumbnail {
  .x_axis, .y_axis {
     :global(.tick) line, :global(.domain) {
       stroke: #555;
     }
  }
}
