.rankable {
  display: flex;
}

.title {
  font-size: 1.6rem;
  margin: 2rem 0 1rem 2rem;
  color: #333;
  line-height: 1.3;
  display: flex;
  justify-content: space-between;
}

.filters {
  display: inline-block;
  margin-right: 30px;
}
