.highlighted {
  font-weight: bold;
}

[data-index] {
  cursor: pointer;
}

[data-band="1"] {
  fill: #3B7862;
}

[data-band="1"].highlighted {
  fill: #6EAB95;
}

[data-band="2"] {
  fill: #DDC111;
}

[data-band="2"].highlighted {
  fill: #F7DB2B;
}

[data-band="3"] {
  fill: #CD751D;
}

[data-band="3"].highlighted {
  fill: #FFA850;
}

[data-band="4"] {
  fill: #9C0D0D;
}

[data-band="4"].highlighted {
  fill: #CF4040;
}

[data-current="true"] {
  fill: #448AA9;
}

.x_axis {
  font-size: 1rem;
  color: #333;

 :global(.tick) line, :global(.domain) {
   stroke: #ddd;
 }
}

.x_axis_label {
  font-style: italic;
}

.y_axis {
  font-size: 1.3rem;
  color: #448AA9;

 :global(.tick) line, :global(.domain) {
   stroke: #ddd;
 }
}

.grid_lines {
  line, :global(.domain) {
    stroke: #ddd;
  }
}

.year {
  font-size: 23.4rem;
  fill: #ececec;
}

.unranked {
  margin-bottom: 4rem;

  .title {
    font-size: 1.5rem;
    margin: 0 0 1.5rem 215px;
    color: #333;
  }

  .subtitle {
    font-size: 1.2rem;
    margin: 0 0 1.5rem 215px;
    color: #666;
    line-height: 1.5;
  }

  .row {
    margin: 0.7rem 0;
  }

  .left {
    display: inline-block;
    width: 215px;
    text-align: right;
    font-size: 1.3rem;
    color: #448AA9;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  .right {
    display: inline-block;
    margin-left: 1rem;
    color: #666;
  }
}
