.highlighted {
  font-weight: bold;
}

[data-index] {
  cursor: pointer;
}

[data-band="1"] {
  fill: #9f9;
}

[data-band="1"].highlighted {
  fill: #3f3;
}

[data-band="2"] {
  fill: #fe9;
}

[data-band="2"].highlighted {
  fill: #fe3;
}

[data-band="3"] {
  fill: #fc9;
}

[data-band="3"].highlighted {
  fill: #fc3;
}

[data-band="4"] {
  fill: #f99;
}

[data-band="4"].highlighted {
  fill: #f33;
}

.x_axis {
  font-size: 1rem;
  color: #333;

 :global(.tick) line, :global(.domain) {
   stroke: #ddd;
 }
}

.y_axis {
  font-size: 1.3rem;
  color: #448AA9;

 :global(.tick) line, :global(.domain) {
   stroke: #ddd;
 }
}

.grid_lines {
  line, :global(.domain) {
    stroke: #ddd;
  }
}

.year {
  font-size: 23.4rem;
  fill: #ececec;
}

.unranked {
  .title {
    font-size: 1.5rem;
    margin: 0 0 2.5rem 195px;
    color: #333;
  }

  .row {
    margin: 0.7rem 0;
  }

  .left {
    display: inline-block;
    width: 200px;
    text-align: right;
    font-size: 1.3rem;
    color: #448AA9;
    cursor: pointer;

    &:hover {
      font-weight: bold;
    }
  }

  .right {
    display: inline-block;
  }
}
