.tag_filters {
  cursor: pointer;

  .checkbox {
    display: inline-block;
    margin-left: 0.7rem;
    width: 1.2rem;
    height: 1.2rem;
    vertical-align: middle;
    border: 1px solid #aaa;
    border-radius: 10%;
    font-size: 1.2rem;
    text-align: center;

    &.active {
      background: #ffb;

      &:before {
        content: 'X';
      }
    }
  }
}
