.top_level {
  margin: 2rem 0 0 2rem;

  .logo {
    max-width: 10rem;
    max-height: 5rem;
    cursor: pointer;
  }
}

.company_dropdown {
  float: right;
  margin: 6.5rem 5.5rem 0 0;

  label {
    margin-right: 0.5rem;
  }

  select {
    font-size: 1rem;
    background: white;
  }
}

.auditor {
  float: right;
  margin-right: 2rem;

  .text {
    margin-top: 4.5rem;
  }

  .logo {
    max-width: 7rem;
    max-height: 3.5rem;
  }
}

.page_reference {
  float: right;
  margin: 3.5rem 2rem 0 0;
  clear: both;
  font-size: 1.2rem;

  a {
    color: #448AA9;
    text-decoration: none;
  }
}

.title {
  font-size: 1.8rem;
  margin: 2rem 0 2.5rem 100px;
  color: #333;
}

.filters {
  float: right;
  margin: 6.5rem 4rem 0 0;
}
