.side_bar {
  justify-content: center;
  margin: 8.8rem 1rem 0 0;
}

.year {
  display: none;
  margin: 4.7rem 0 0 0;
}

.based_on {
  font-size: 1.4rem;
  margin-left: 2rem;
}

.outcome_ratio {
  margin-top: 2rem;
}

.divided_by {
  font-size: 1.2rem;
  margin: 1rem 0 2rem 3rem;
}

.link {
  color: #448AA9;
  font-size: 1.2rem;
  display: block;
  margin-left: 2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  cursor: pointer;
}
