.ranking {
  margin-bottom: 2rem;
}

.thumbnail {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3rem;
}

.inner {
  color: #448AA9;
  cursor: pointer;

  b {
    font-weight: bold;
  }
}

.value {
  margin-left: 3rem;
}
