.ranking {
  margin-bottom: 2rem;
}

.thumbnail {
  display: inline-block;
  vertical-align: middle;
  margin-right: 2rem;

  position: relative;
  left: -0.5rem;
  padding: 0.5rem;

  &:hover {
    border: 1px solid #9bf;
    cursor: pointer;
  }
}

.inner {
  color: #448AA9;
  cursor: pointer;

  b {
    font-weight: bold;
  }
}

.icon {
  float: right;
  margin: 1rem 1rem 0 0;
  color: #aaa;
  font-size: 1.5rem;
  cursor: pointer;

  &.selected {
    color: #666;
  }
}
