.ranking {
  margin-bottom: 2rem;
}

.thumbnail {
  display: inline-block;
  vertical-align: middle;
  margin-right: 3rem;
}

.inner {
  color: #448AA9;
  cursor: pointer;

  b {
    font-weight: bold;
  }
}

.chevron {
  float: right;
  margin: 0.5rem 2rem 0 0;
  color: #333;
  cursor: pointer;

  &.up {
    transform: rotate(180deg);
  }

  &.down {
    transform: rotate(0deg);
  }
}

.info {

}
