.settings {
  position: fixed;
  top: 6.2rem;
  right: 0;

  width: 20.2rem;
  height: 35rem;
  background: white;
  box-shadow: 0 0 1rem #ccc;
}

.header {
  font-size: 2rem;
  text-align: center;
  color: #444;
  margin-top: 3rem;
}

.sentence {
  font-size: 1.5rem;
  color: #444;
  padding: 2rem 0 2rem 1.5rem;
  line-height: 2;
  user-select: none;
}

.counter {
  border: 1px solid grey;
  padding: 0.1rem 0.4rem;
  background: #eee;
  font-weight: bold;
  margin-left: 0.5rem;
}

.controls {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  bottom: 0.4rem;
  width: 2.5rem;
  height: 3rem;

  svg {
    position: absolute;
    left: 0.3rem;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    fill: #555;
  }

  .up svg {
    top: -0.2rem;
  }

  .down svg {
    bottom: -0.3rem;
  }

  .disabled svg {
    fill: #ccc;
    cursor: inherit;
  }
}
