.password {
  width: 36rem;
  height: 5rem;
  margin: 5rem auto;
  padding: 2rem;
  border: 3px dashed #eee;

  p {
    font-size: 1.3rem;
  }

  input[type="password"] {
    font-size: 1.3rem;
    margin-top: 2rem;
    float: right;
  }

  input[type="submit"] {
    font-size: 1.3rem;
    float: right;
    margin: 2rem 0.7rem 0 1rem;
    background: #ddd;
  }
}
